<%- include('../cabecalho') -%>
<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header"><strong>Admin</strong></div>
                    <div class="card-body">
                        <div class="example">
                            <div class="tab-content rounded-bottom">
                                <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-739">
                                    <form method="post" enctype="multipart/form-data"> 
                                        <div class = "mb-3">
                                            <label class = "form-label" for="exampleFormControlInput1">Nome</label>
                                            <input class="form-control" name="nome" id="exampleFormControlInput1" type="text"
                                                placeholder="Digite o nome do ministrante">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput2">E-mail</label>
                                            <input class="form-control" name="email" id="exampleFormControlInput2" type="text"
                                                placeholder="Digite o e-mail do ministrante"> 
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="exampleFormControlInput4">Formação</label>
                                            <input class="form-control" name="formacao" id="exampleFormControlInput4" type="text"
                                                placeholder="Digite a formação técnica do ministrante">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="formFile">Foto de perfil</label>
                                            <input class="form-control" name="fotoperfil" id="formFile" type="file">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Adicionar</button>
                                        <button type="reset" class="btn btn-light">Limpar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../rodape') -%>